<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!-- Web 的配置（配置 Servlet） -->

    <!-- 配置 Servlet 类的信息 -->
    <servlet>
        <!-- 为该 HelloServlet 类起个名称 -->
        <servlet-name>HelloServlet</servlet-name>
        <!-- 配置 Servlet 类的全限定名，Tomcat 可以通过映射类创建该类对象 -->
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_01_helloWord.HelloServlet</servlet-class>
    </servlet>
    <!-- 配置映射（向外暴露该 Servlet 类的一个资源名称，供外链直接访问） -->
    <servlet-mapping>
        <!-- 通过为 Servlet 类配置的名称找到该类 -->
        <servlet-name>HelloServlet</servlet-name>
        <!-- 提供一个资源名称（必须已“/”开头 ！！！） -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <!-- 每个 Servlet 都要单独配置 -->
    <servlet>
        <servlet-name>InitParamServlet</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_02_initParam.InitParamServlet</servlet-class>

        <!-- 初始化参数（必须写在 <servlet-class> 元素之后） -->
        <init-param>
            <!-- 初始化参数名 -->
            <param-name>encoding</param-name>
            <!-- 初始化参数值 -->
            <param-value>UTF-8</param-value>
        </init-param>
        <!-- 每个初始化参数都要单独配置 -->
        <init-param>
            <param-name>name</param-name>
            <param-value>cyx</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitParamServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_03_extends.extends1.NewServlet1</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>cyx</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/new1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet2</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_03_extends.extends2.NewServlet2</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>cyx</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet2</servlet-name>
        <url-pattern>/new2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet3</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_03_extends.extends3.NewServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet3</servlet-name>
        <url-pattern>/new3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewServlet4</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_03_extends.extends3.NewServlet4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet4</servlet-name>
        <url-pattern>/new4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpServletRequestDemo</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_04_request.HttpServletRequestDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletRequestDemo</servlet-name>
        <url-pattern>/requestDemo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_05_register.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpServletResponseDemo</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_06_response.HttpServletResponseDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletResponseDemo</servlet-name>
        <url-pattern>/resp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleCalculatorServlet</servlet-name>
        <servlet-class>com.cyx.java_web.web_01_servlet.servlet_07_simpleCalculator.SimpleCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCalculatorServlet</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>

    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!-- 配置全局初始化参数 -->
    <context-param>
        <param-name>version</param-name>
        <param-value>1.0</param-value>
    </context-param>


    <!-- 全局的错误提示页面 -->
    <error-page>
        <!-- 异常类型(因为异常类型很多，所以一般不适用此元素) -->
        <!-- <exception-type>java.lang.NullPointerException</exception-type> -->
        <!-- 错误码类型（一般使用的此元素） -->
        <error-code>404</error-code>
        <!-- 错误提示页面资源地址，必须以“/”开头 -->
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>

</web-app>